*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  padding: 0;
  background-color: #000;
  color: #fff; }

@keyframes colorChange {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 50% 50%; }
  100% {
    background-position: 100% 50%; } }

@font-face {
  font-family: 'Facon';
  src: url(./font/Facon.ttf) format("truetype"); }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent; }
  .nav__hamburger {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .nav__logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem 0.6rem;
    border-radius: 1rem;
    background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
    background-size: 800% 800%;
    animation: colorChange 30s ease infinite;
    transform: skewX(15deg); }
    .nav__logo-text {
      font-family: 'Facon', sans-serif;
      font-size: 3.2rem;
      color: #fff;
      transform: skewX(-15deg); }
  .nav__search {
    margin: .8rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .nav__search-icon {
      color: #fff; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: all 0.5s;
  padding-top: 6rem; }
  .sidenav a:hover {
    opacity: 1; }
  .sidenav__line {
    margin: 1rem auto;
    width: 25%;
    height: 2px;
    display: block;
    background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
    background-size: 800% 800%;
    animation: colorChange 30s ease infinite; }
  .sidenav::-webkit-scrollbar {
    width: 0.5rem; }
  .sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .sidenav::-webkit-scrollbar-thumb {
    background-color: #636161;
    outline: 1px solid slategrey; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  .sidenav__menu {
    width: 90%;
    margin: 0 auto;
    padding: 0 .8rem 0 3.2rem;
    list-style: none;
    font-size: 1.6rem; }
    .sidenav__menu-item {
      font-weight: bold;
      opacity: .5;
      margin-bottom: 1rem;
      transition: all .3s; }
      .sidenav__menu-item:hover {
        opacity: 1;
        transform: translateX(1rem); }
  .sidenav__quick {
    width: 90%;
    margin: 0 auto;
    padding: 0 0.8rem 0 3.2rem;
    list-style: none;
    font-size: 1.6rem; }
    .sidenav__quick-title {
      color: #fff;
      padding: .5rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: .3rem; }
    .sidenav__quick-item {
      opacity: .5;
      padding: .5rem;
      transition: all .3s; }
      .sidenav__quick-item:hover {
        opacity: 1;
        transform: translateX(1rem); }
  .sidenav__genre {
    width: 90%;
    margin: 0 auto;
    padding: 0 0.8rem 0 3.2rem;
    list-style: none; }
    .sidenav__genre-title {
      color: #fff;
      padding: .5rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: .3rem; }
    .sidenav__genre-item {
      opacity: .5;
      padding: .5rem;
      transition: all .3s; }
      .sidenav__genre-item:hover {
        opacity: 1;
        transform: translateX(1rem); }
  .sidenav a {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    display: block;
    transition: 0.3s; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.cards__title {
  width: 15rem;
  margin: 0 auto;
  margin-bottom: 2rem; }
  .cards__title-head {
    letter-spacing: .5rem;
    margin-bottom: 1rem; }
  .cards__title-line {
    width: 80%;
    height: .3rem;
    border-radius: .2rem;
    background-color: #1e83e2; }

.cards__button {
  width: 15rem;
  margin: 0 auto;
  margin-top: 2rem; }

.cards__post {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  overflow-x: scroll; }
  .cards__post::-webkit-scrollbar {
    height: 0.5rem; }
  .cards__post::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .cards__post::-webkit-scrollbar-thumb {
    background-color: #636161;
    outline: 1px solid slategrey; }
  .cards__post-card {
    margin-right: 1rem;
    position: relative; }
    .cards__post-card img {
      border-radius: 0.5rem;
      position: relative;
      float: left;
      width: 22rem;
      height: 31rem;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover; }
    .cards__post-card--icon-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      background-color: transparent; }
      .cards__post-card--icon-11 {
        font-size: 10rem;
        opacity: 0.5;
        color: #f7f7f7;
        transition: all .2s;
        z-index: 1; }
        .cards__post-card--icon-11:hover {
          color: rgba(247, 247, 247, 0.5);
          outline: none; }
    .cards__post-card--icon-2 {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: none;
      transition: all .3s;
      background-color: transparent; }
      .cards__post-card--icon-22 {
        font-size: 2rem;
        opacity: 1;
        color: #f7f7f7;
        transition: all .2s;
        z-index: 1; }
        .cards__post-card--icon-22:hover, .cards__post-card--icon-22:focus {
          outline: none;
          transform: rotate(360deg); }
    .cards__post-card--icon-3 {
      position: absolute;
      top: 1rem;
      left: 1rem;
      border: none;
      background-color: transparent; }
      .cards__post-card--icon-33 {
        font-size: 1.5rem;
        opacity: 1;
        color: #f7f7f7;
        transition: all .2s;
        z-index: 1; }
    .cards__post-card--bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.5s ease;
      z-index: 0; }
    .cards__post-card:hover .cards__post-card--bg {
      display: block;
      background: rgba(0, 0, 0, 0.3); }
    .cards__post-card:hover .cards__post-card--icon-11 {
      opacity: 1; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem); }

.btn--green {
  color: #1e83e2;
  border: 2px solid #1e83e2;
  background-color: transparent; }
  .btn--green::after {
    background-color: transparent; }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .4s;
  z-index: -1;
  border-radius: 10rem; }

.btn--animated {
  animation: moveInButton 1s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #1e83e2;
  text-decoration: none;
  border-bottom: 1px solid #1e83e2;
  padding: 3px;
  display: inline-block;
  transition: all .2s; }

.btn-text:hover {
  background-color: #1e83e2;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 3rem;
  overflow: hidden; }
  .header__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s opacity; }

footer {
  margin-top: 2rem;
  width: 100%;
  text-align: center; }
