*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 500px) {
    html {
      font-size: 45%; } }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  padding: 0;
  background-color: #000;
  color: #fff; }

@keyframes colorChange {
  0% {
    background-position: 0% 50%; }
  30% {
    background-position: 100% 50%; }
  50% {
    background-position: 100% 50%; }
  70% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 100%; } }

@font-face {
  font-family: 'Facon';
  src: url(./font/Facon.ttf) format("truetype"); }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .nav__hamburger {
    display: flex;
    align-items: center;
    vertical-align: middle; }
    .nav__hamburger-button {
      cursor: pointer;
      position: absolute;
      top: 50%; }
    .nav__hamburger-icon {
      position: relative; }
      .nav__hamburger-icon, .nav__hamburger-icon::before, .nav__hamburger-icon::after {
        width: 3rem;
        height: 1px;
        background-color: #fff;
        display: inline-block; }
      .nav__hamburger-icon::before {
        width: 2rem; }
      .nav__hamburger-icon::before {
        content: '';
        position: absolute;
        left: 0;
        transition: all .2s; }
      .nav__hamburger-icon::after {
        width: 2rem;
        right: 0;
        content: '';
        position: absolute;
        transition: all .2s; }
      .nav__hamburger-icon::before {
        top: -1rem; }
      .nav__hamburger-icon::after {
        top: 1rem; }
    .nav__hamburger-button:hover .nav__hamburger-icon::before {
      width: 3rem; }
    .nav__hamburger-button:hover .nav__hamburger-icon::after {
      width: 3rem; }
  .nav__logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    width: 16rem;
    padding: 1rem 0 0.4rem;
    border-radius: 1rem;
    background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
    background-size: 800% 800%;
    animation: colorChange 30s linear infinite;
    transform: skewX(-15deg); }
    .nav__logo-text {
      font-family: 'Facon', sans-serif;
      font-size: 3.2rem;
      color: #fff;
      text-decoration: none;
      transform: skewX(15deg); }
  .nav__search {
    margin: .8rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .nav__search-icon {
      color: #fff;
      font-size: 2rem; }

#sidebar {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  transition: all 0.3s;
  margin-left: -250px;
  /* top layer */
  z-index: 9999; }
  #sidebar.active {
    margin-left: 0; }
  #sidebar .sidebar-header {
    padding: 20px;
    background: #000;
    position: relative; }
  #sidebar ul p {
    color: #fff;
    padding: 10px; }
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s; }
    #sidebar ul li a:hover {
      background: rgba(255, 255, 255, 0.1); }
  #sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    transition: all 0.3s;
    color: inherit; }
    #sidebar ul ul a:hover {
      transform: translateX(1rem) scale(1.1); }

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 5000;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out; }
  .overlay.active {
    display: block;
    opacity: 1; }

#dismiss {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px; }

.line {
  margin: 1rem auto;
  width: 25%;
  height: 2px;
  display: block;
  background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
  background-size: 800% 800%;
  animation: colorChange 30s linear infinite; }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

@media screen and (max-height: 450px) {
  .nav {
    position: relative; } }

@media (max-width: 450px) {
  #sidebar .sidebar-header {
    display: flex;
    justify-content: center; }
  .list-unstyled {
    font-size: 2rem; } }

.cardss {
  width: 100%;
  margin: 5rem 0; }
  .cardss__title {
    margin: 0 auto;
    margin-bottom: 2rem; }
    .cardss__title-head {
      text-align: center;
      margin-bottom: 1rem; }
    .cardss__title-line {
      margin: 0 auto;
      display: block;
      width: 8%;
      height: .4rem;
      border-radius: .2rem;
      background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
      background-size: 800% 800%;
      animation: colorChange 30s linear infinite; }
  .cardss__button {
    width: 40rem;
    margin: 0 auto;
    margin-top: 2rem; }
    .cardss__button-button {
      font-weight: bold;
      margin: 0 auto;
      width: 21rem; }
    .cardss__button-line {
      margin: 0 auto; }
  .cardss__post {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll; }
    .cardss__post::-webkit-scrollbar {
      height: 0.5rem; }
    .cardss__post::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .cardss__post::-webkit-scrollbar-thumb {
      background-color: #636161;
      outline: 1px solid slategrey; }
    .cardss__post-null {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 96%;
      margin: auto 2%;
      height: 31rem;
      background-color: #111111;
      border-radius: 5px; }
    .cardss__post-card {
      flex: 0 0 auto; }

@media screen and (max-width: 450px) {
  .cardss__title-line {
    width: 20%; } }

.cards {
  width: 22rem;
  height: 31rem;
  position: relative;
  margin: 1.6rem 1rem;
  transition: all .2s; }
  .cards:hover {
    transform: scale(1.1); }
  .cards img {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px; }
  .cards__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0; }
    .cards__bg:hover {
      opacity: 0.3; }
  .cards__icon-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent; }
    .cards__icon-11 {
      font-size: 10rem;
      opacity: 0.5;
      color: #eee;
      transition: all .2s;
      z-index: 1; }
  .cards__icon-2 {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 1rem;
    transition: all .3s;
    background-color: transparent; }
    .cards__icon-2:hover, .cards__icon-2:active {
      outline: none;
      transform: rotate(360deg); }
    .cards__icon-22 {
      font-size: 2rem;
      opacity: 1;
      color: #eee;
      transition: all .2s;
      z-index: 1; }
      .cards__icon-22:hover, .cards__icon-22:active {
        outline: none; }
  .cards__icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: 1rem; }
    .cards__icon-33 {
      font-size: 1.5rem;
      opacity: 1;
      color: #eee;
      transition: all .2s;
      z-index: 1; }

.button__wrapper-btn {
  padding: 1rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  display: block;
  transition: all .3s;
  z-index: 100;
  text-decoration: none; }
  .button__wrapper-btn:hover {
    opacity: 0.8;
    transform: scale(1.1); }
    .button__wrapper-btn:hover .button__wrapper-line {
      width: 7rem; }

.button__wrapper-line {
  width: 11rem;
  border-radius: 2px;
  height: .4rem;
  background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
  background-size: 800% 800%;
  animation: colorChange 30s linear infinite;
  display: block; }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 3rem;
  overflow: hidden;
  background-image: url(../img/pubgCover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; }
  .header__bg {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, transparent, black 90%);
    width: 100%;
    height: 8rem; }
  .header__content {
    margin: 0 auto;
    margin-top: -2rem; }
    .header__content-title {
      font-size: 2rem;
      opacity: 0.7;
      padding: 3rem;
      text-align: center; }
    .header__content-cta {
      margin: 0 auto;
      text-align: center; }
      .header__content-cta-button {
        font-weight: bold;
        margin: 0 auto;
        width: 21rem; }
      .header__content-cta-line {
        margin: 0 auto; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
    .sidenav a {
      font-size: 18px; } }

.search__container {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0; }

.search__input {
  margin-top: 5rem;
  background-color: #000;
  height: 10rem;
  width: 100%;
  padding: 3rem;
  z-index: 1500; }
  .search__input-form {
    background-color: #242424;
    color: #fff;
    font-size: 4rem;
    padding: 2rem;
    width: 100%;
    border: none;
    border-radius: 5px; }
    .search__input-form::placeholder {
      color: #fff;
      opacity: 0.8; }
    .search__input-form:active, .search__input-form:visited, .search__input-form:focus {
      outline: none; }

@media screen and (max-width: 450px) {
  .search__container {
    padding: 0; }
  .search__input-form {
    font-size: 3rem;
    padding: 1.5rem;
    height: 6rem; } }

@media screen and (max-height: 450px) {
  .search__container {
    margin-top: 0; } }

.footer {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  opacity: 0.5; }
  .footer__icon {
    color: red; }

.detail {
  margin: 10rem 2rem; }
  .detail__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; }
    .detail__head-right-rating {
      font-weight: bold; }
    .detail__head-right-icon1 {
      color: #fff; }
  .detail__summary {
    opacity: 0.5;
    text-align: justify; }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; }
  .wrapper__content {
    background: rgba(36, 36, 36, 0.5);
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column; }
    .wrapper__content-logo {
      margin: 0 auto;
      display: flex;
      padding: 1rem 2rem 0.4rem;
      border-radius: 1rem;
      background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
      background-size: 800% 800%;
      animation: colorChange 30s linear infinite;
      transform: skewX(-15deg); }
      .wrapper__content-logo-text {
        font-family: 'Facon', sans-serif;
        font-size: 3.2rem;
        color: #fff;
        text-decoration: none;
        transform: skewX(7deg); }
    .wrapper__content-title {
      font-weight: 300;
      font-size: 3.2rem;
      text-align: center;
      margin: 2rem 0 0 0;
      color: #eee; }
    .wrapper__content-para {
      font-size: 1.4rem;
      opacity: 0.5;
      text-align: center;
      margin-bottom: 2rem; }
    .wrapper__content-line {
      margin: 0 auto 1rem;
      display: block;
      width: 50%;
      height: .3rem;
      border-radius: .2rem;
      background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
      background-size: 800% 800%;
      animation: colorChange 30s linear infinite; }

.button {
  display: flex;
  align-items: center;
  min-width: 20.5rem;
  margin: 1.2rem auto 0 auto;
  height: 4.2rem;
  border-width: 0;
  border-radius: 5px;
  white-space: nowrap;
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  padding: 0;
  background: white;
  color: #737373; }
  .button__icon {
    float: left;
    vertical-align: middle;
    margin: 0.8rem 0 0.8rem 0.8rem;
    width: 2.6rem;
    height: 2.6rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2rem; }
    .button__icon-svg {
      height: 32px;
      margin-left: 1px;
      margin-top: -1px; }
  .button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif; }

.google-btn:focus, .google-btn:hover {
  color: #fff;
  background-color: #4285f4; }

.google-btn:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms; }

.google-btn-icon {
  padding: 0.4rem; }

.fb-btn:focus, .fb-btn:hover {
  color: #fff;
  background-color: #3C5896; }

.fb-btn:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms; }

.fb-btn-icon svg {
  height: 3.2rem; }
